.index {
    background-image: url("../img/mapa\ alola.png");
    background-size: cover;
    font-family: 'Syne Tactile', cursive;
}

.index a {
    text-decoration: none;
    color: aqua;
}

.index img {
    width: 35%;
}


/*mew.html*/

.mew {
    background-color: bisque;
    font-family: 'Syne Tactile', cursive;
}

.mew a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

.mew img {
    width: 15%;
}

.mew span {
    background-color: pink;
    padding: 2px;
    border-radius: 5px;
}


/*tyranitar.html*/

.tyranitar {
    background-color: bisque;
    font-family: 'Syne Tactile', cursive;
}

.tyranitar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

.tyranitar img {
    width: 25%;
}

.tyranitar span {
    background-color: burlywood;
    padding: 2px;
    border-radius: 5px
}


/*steelix.html*/

.steelix {
    background-color: bisque;
    font-family: 'Syne Tactile', cursive;
}

.steelix a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

.steelix img {
    width: 25%;
}

.steelix span {
    background-color: burlywood;
    padding: 2px;
    border-radius: 5px;
}


/*rayquaza.html*/

.rayquaza {
    background-color: bisque;
    font-family: 'Syne Tactile', cursive;
}

.rayquaza a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

.rayquaza span {
    background-color: cornflowerblue;
    padding: 2px;
    border-radius: 5px;
}


/*media query*/

@media only screen and (max-width: 600px) {
    .index img,
    .mew img,
    .rayquaza img,
    .steelix img,
    .tyranitar img {
        width: 100%;
    }
}