<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Mew</title>
    <link rel="shortcut icon" href="../img/mew.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: bisque;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
        
        #enlace {
            text-align: center;
        }
    </style>
</head>

<body style="font-family:'Syne Tactile', cursive;">
    <h1>Mew</h1>
    <img style="width: 15%;" src="../img/mew.png" alt="Mew">
    <br>
    <b>tipo: <span style="background-color: pink; padding: 2px;border-radius: 5px;">Psíquico</span></b>
    <br>
    <b>Descripción:</b>
    <p>Si se observa a través de un microscopio, puede distinguirse cuán corto, fino y delicado es el pelaje de este Pokémon.</p>
    <p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>