<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Tyranitar</title>
    <link rel="shortcut icon" href="../img/tyranitar.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="tyranitar">
    <h1>Tyranitar</h1>
    <img src="../img/tyranitar.png" alt="Tyranitar">
    <br>
    <p>tipo: <span>Roca</span> <span style="color: white; background-color: #301b0d; padding: 2px;border-radius: 5px;">Siniestro</span></b>
        <br>
        <b>Descripción:</b>
        <p>Casi ningún ataque hace mella en su cuerpo, por lo que le encanta desafiar a sus enemigos.</p>
        <p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>